<volist name="info['lists']" id="vo">
    <tr>
        <td align="center" style="white-space: nowrap;"><input type="checkbox" name="ids[]" class="ids" value="{$vo['id']}"></td>
        <volist name="vo['data']" id="item">
            <td style="white-space: nowrap;" title="{$item|default=''}">
                <php>
                    if(mb_strlen($item,'UTF8') > 16){
                        echo mb_substr($item,0,16,'utf-8').'...';
                    }else{
                        echo $item;
                    }
                </php>
            </td>
        </volist>
        <td style="white-space: nowrap;">
            <a class="btn btn-info btn-xs" onclick="pop_show(this)" url="{:U('edit',array('id'=>$vo['id']))}" title="编辑客户" w="600" h="500">编辑</a>
            <a class="btn btn-info btn-xs" onclick="pop_show(this)" url="{:U('add_follow',array('customer_id'=>$vo['id'],'into_type'=>1))}" title="写跟进" w="600" h="500">写跟进</a>
            <a class="btn btn-info btn-xs" href="{:U('info',array('id'=>$vo['id']))}" target="_blank" title="客户详情" w="600" h="500">详情</a>
        </td>
    </tr>
</volist>