<extend name="Public::page"/>
<block name="body">
    <div class="pd-20" style="padding-top:20px;">
        <p class="f-20 text-success">欢迎登录栖息鸟房产自主交易平台<span class="f-14"></span></p>
        <p>密码： {$pwd}<button style="margin-left:10px;" class="btn btn-primary size-MINI radius ajax-get" url="{:U('handle')}">重新生成</button></p>
        <p>登录次数：{$manager.login} </p>
        <p>上次登录IP：{$manager.last_login_ip|long2ip} 上次登录时间：{$manager.last_login_time|date="Y-m-d H:i:s",###}</p>

<table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th colspan="17" scope="col"><h4>数据待审核</h4></th>
                </tr>
                <tr>
                    <th colspan="1" scope="col"></th>
                    <th colspan="3" scope="col"><h5>数据申请审核</h5></th>
                    <th colspan="3" scope="col"><h5>楼盘申请纠错</h5></th>
                    <th colspan="3" scope="col"><h5>楼盘申请删除</h5></th>
                    <th colspan="2" scope="col"><h5>房源申请审核</h5></th>
                    <th colspan="2" scope="col"><h5>用户申请审核</h5></th>
                </tr>
                <tr class="text-c">
                    <th>统计</th>
                    <th>楼盘审核</th>
                    <th>楼栋审核</th>
                    <th>单元审核</th>
                    <th>楼盘纠错</th>
                    <th>楼栋纠错</th>
                    <th>单元纠错</th>
                    <!--<th>业主名单纠错</th>-->
                    <th>楼盘申请删除</th>
                    <th>楼栋申请删除</th>
                    <th>单元申请删除</th>
                    <th>房源修改审核</th>
                    <!-- <th>房源拉失效审核</th> -->
                    <th>房源举报审核</th>
                    <!--<th>业主名单举报审核</th>-->
                    <th>单位服务商审核</th>
                    <th>经纪用户审核</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c">
                    <td>总数</td>
                    <volist name="data.total" id="vo">
                        <td><h5><a <if condition="$vo.counts gt 0 "> class="c-red" </if> _href="{$vo.url}"  onclick="Hui_admin_tab(this)" data-title="{$vo['title']|default='数据待审核'}">{$vo.counts}</a></h5></td>
                    </volist>
                </tr>
                <!--<tr class="text-c">-->
                    <!--<td>今日待处理</td>-->
                    <!--<volist name="info.today" id="vo">-->
                        <!--<td>{$vo}</td>-->
                    <!--</volist>-->
                <!--</tr>-->
                <!--<tr class="text-c">-->
                    <!--<td>本周待处理</td>-->
                    <!--<volist name="info.week" id="vo">-->
                        <!--<td>{$vo}</td>-->
                    <!--</volist>-->
                <!--</tr>-->
                <!--<tr class="text-c">-->
                    <!--<td>本月待处理</td>-->
                    <!--<volist name="info.month" id="vo">-->
                        <!--<td>{$vo}</td>-->
                    <!--</volist>-->
                <!--</tr>-->
            </tbody>
        </table>
        <br />
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th colspan="19" scope="col"><h4>信息统计</h4></th>
                </tr>
                <tr>
                    <th colspan="1" scope="col"></th>
                    <th colspan="3" scope="col"><h5>用户信息</h5></th>
                    <th colspan="3" scope="col"><h5>楼盘信息</h5></th>
                    <th colspan="5" scope="col"><h5>房源信息</h5></th>
                    <th colspan="1" scope="col"><h5>合同信息</h5></th>
                    <th colspan="3" scope="col"><h5>抢单信息</h5></th>
                    <th colspan="3" scope="col"><h5>推广信息</h5></th>
                </tr>
                <tr class="text-c">
                    <th>统计</th>
                    <th>交易用户</th>
                    <th>经纪用户</th>
                    <th>单位服务商</th>
                    <th>楼盘</th>
                    <th>楼栋</th>
                    <th>单元</th>
                    <th>房源</th>
                    <th>已上架房源</th>
                    <th>未上架房源</th>
                    <th>房源跟进</th>
                    <th>房源失效</th>
                    <th>合同</th>
                    <th>发布抢单总数</th>
                    <th>已抢单总数</th>
                    <th>未抢单总数</th>
                    <th>一级会员</th>
                    <th>二级会员</th>
                    <th>三级会员</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c">
                    <td>总数</td>
                    <volist name="info.total" id="vo">
                        <td><h5><a class="c-green" _href="{$vo.url}"  onclick="Hui_admin_tab(this)" data-title="{$vo['title']|default='信息统计'}">{$vo.counts}</a></h5></td>
                    </volist>
                </tr>
                <tr class="text-c">
                    <td>今日新增</td>
                    <volist name="info.today" id="vo">
                        <td>{$vo}</td>
                    </volist>
                </tr>
                <tr class="text-c">
                    <td>本周新增</td>
                    <volist name="info.week" id="vo">
                        <td>{$vo}</td>
                    </volist>
                </tr>
                <tr class="text-c">
                    <td>本月新增</td>
                    <volist name="info.month" id="vo">
                        <td>{$vo}</td>
                    </volist>
                </tr>
            </tbody>
        </table>
        <table class="table table-border table-bordered table-bg mt-20" style="display:none;">
            <thead>
                <tr>
                    <th colspan="2" scope="col">服务器信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th width="200">服务器计算机名</th>
                    <td><span id="lbServerName">http://127.0.0.1/</span></td>
                </tr>
                <tr>
                    <td>服务器IP地址</td>
                    <td>192.168.1.1</td>
                </tr>
                <tr>
                    <td>服务器域名</td>
                    <td>www.h-ui.net</td>
                </tr>
                <tr>
                    <td>服务器端口 </td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>服务器IIS版本 </td>
                    <td>Microsoft-IIS/6.0</td>
                </tr>
                <tr>
                    <td>本文件所在文件夹 </td>
                    <td>D:\WebSite\HanXiPuTai.com\XinYiCMS.Web\</td>
                </tr>
                <tr>
                    <td>服务器操作系统 </td>
                    <td>Microsoft Windows NT 5.2.3790 Service Pack 2</td>
                </tr>
                <tr>
                    <td>系统所在文件夹 </td>
                    <td>C:\WINDOWS\system32</td>
                </tr>
                <tr>
                    <td>服务器脚本超时时间 </td>
                    <td>30000秒</td>
                </tr>
                <tr>
                    <td>服务器的语言种类 </td>
                    <td>Chinese (People's Republic of China)</td>
                </tr>
                <tr>
                    <td>.NET Framework 版本 </td>
                    <td>2.050727.3655</td>
                </tr>
                <tr>
                    <td>服务器当前时间 </td>
                    <td>2014-6-14 12:06:23</td>
                </tr>
                <tr>
                    <td>服务器IE版本 </td>
                    <td>6.0000</td>
                </tr>
                <tr>
                    <td>服务器上次启动到现在已运行 </td>
                    <td>7210分钟</td>
                </tr>
                <tr>
                    <td>逻辑驱动器 </td>
                    <td>C:\D:\</td>
                </tr>
                <tr>
                    <td>CPU 总数 </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>CPU 类型 </td>
                    <td>x86 Family 6 Model 42 Stepping 1, GenuineIntel</td>
                </tr>
                <tr>
                    <td>虚拟内存 </td>
                    <td>52480M</td>
                </tr>
                <tr>
                    <td>当前程序占用内存 </td>
                    <td>3.29M</td>
                </tr>
                <tr>
                    <td>Asp.net所占内存 </td>
                    <td>51.46M</td>
                </tr>
                <tr>
                    <td>当前Session数量 </td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>当前SessionID </td>
                    <td>gznhpwmp34004345jz2q3l45</td>
                </tr>
                <tr>
                    <td>当前系统用户名 </td>
                    <td>NETWORK SERVICE</td>
                </tr>
            </tbody>
        </table>
    </div>
</block>