<extend name="Base::page"/>
<block name="style">
</block>
<block name="body">
    <div class="wrapper" style="padding-bottom:50px;">
        <div class="content-wrapper" style="margin-left: 0px;">
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-primary">
                            <form method="post" action="{:U('')}" class="form-tagging" autocomplete="off">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>姓名&nbsp;&nbsp;&nbsp;&nbsp;</label>{$Think.get.name}
                                    </div>
                                    <div class="form-group">
                                        <label>新密码</label>
                                        <input type="password" name="password" class="form-control" maxlength="20" placeholder="请输入新密码" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label>确认新密码</label>
                                        <input type="password" name="repassword" class="form-control" maxlength="20" placeholder="请输入确认新密码" autocomplete="off">
                                    </div>
                                </div>
                                <div class="box-footer fixedBotton">
                                    <input type="hidden" name="id" value="{$Think.get.id}" />
                                    <button type="submit" class="btn btn-primary ajax-post" target_form="form-tagging">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>

<block name="script">
</block>
